*{
    font-family: "Courier New";
}

#Facebook{
    color: #1b74e4;
}
.userbtn{
    background-color: aqua;
}

#searchbtn{
    background-color: black;
    color: white;
}

h1 {
    color: pink;
}
#greet {
    color: yellow;
}
.myclass {
    color: brown;
}

/* Inheritance page in css */
div{
    background-color: yellow;
}
/* form{
    background-color: red;
} */
input{
    background-color: inherit;
}
button{
    background-color:inherit;
}

button:hover{
    background-color: red;
}