/* div{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}
h1{
    border: 2px solid black;
    width: 33.33%;

}
#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
    font-size: 10px;

}
#inner{
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    margin-left: 10%;
    font-size: 2em;
}
button{
    font-size: 50px;
    border-radius: 15px;
    border: 5px solid green;
    padding-left: 1em; /* font-size = padding-left (50px = 1em) */
    /* padding-right: 1em; */
/* } */ 

div{
    font-size: 2em;
}